﻿@{
    ViewData["Title"] = "QuestionaryForm";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>QuestionaryForm.</p>

Предполагалсь следующая логика:
1. для каждого поля формы создать свой PartialView
2. получать массив индексов полей формы и в зависимоти от индекса показывать соотвествующий ему PartialView
3. после заполнения всех данных заполнить поля ViewModel, свойства которого заполнены согласно связям в QuestionUserDataFieldMap
4. в QuestionUserDataFieldMap заложены связи в какое поле (объекта UserData) нужно записывать ответ по тому или иному вопросу

<script>
    $(document).ready(function () {
        //Clear();
        CheckTin();
    });

    function CheckTin() {
        //var id = $('#PIN').val();
        console.log("start request");
        $.ajax({
            url: '/Home/GetQuestionsList',
            type: 'GET',
            data: {
                //pin: id
            }
        }).done(function (response) {
            //console.log("text",response.confirmed);
            if (response.isOk === true) {
                console.log("isOk");
            }
            else {
                console.log("not");
            }
        });
    }
</script>>